doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="author" content="huahua")
    meta(name="description" content="描述的")
    meta(name="Keywords" content="webpack template")
    //- <link href="/js/Acitivity_thanksgiving_20171116/layer_mobile/need/layer.css" rel="stylesheet" />
    title 感恩节活动
  body
    img(width="100%" height="100%" src="./img/index.gif" alt="开始游戏")
    a#startGameBtn(href="game.html")
    div#endLayer 活动结束啦~
