doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="author" content="huahua")
    meta(name="description" content="描述的")
    meta(name="Keywords" content="webpack template")
    //- <link href="/js/Acitivity_thanksgiving_20171116/layer_mobile/need/layer.css" rel="stylesheet" />
    title 感恩节活动
  body
    //- section#z-layer
    //-   div#z-layer-mask
    //-     main.z-layer-box
    //-       div.z-layer-main
    //-         h3.z-layer-title 标题
    //-         p.z-layer-content 你可能已经知道，webpack 用于编译 JavaScript 模块。一旦完成安装，你就可以通过 webpack 的 CLI 或 API 与其配合交互。如果你还不熟悉 webpack，请阅读核心概念和打包器对比，了解为什么你要使用 webpack，而不是社区中的其他工具。
    //-       div.z-layer-btns-wrap
    //-         a.z-layer-btn 确定
    //-         a.z-layer-btn 取消




