doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title test pug
  body
    h1 #{name}
    img(src="img/3.jpg", alt="3", srcset="img/3.jpg")
    h2.iconfont.icon-jian
