doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title test pug  ind
  body
    h1 #{name} i kike this
    img(src="img/3.jpg", alt="3")
    //- img(src="img/3.jpg", alt="3",srcset="img/3.jpg")
    //- srcset的路径并不是fileloader转化后的路径
    h2.iconfont.icon-jian
